In [4]:
#series

import pandas as pd

fruits=['Mango', 'Banana', 'Orange']

s_data=pd.Series(fruits, index=[1,2,3], name='Fruits')

s_data

1     Mango
2    Banana
3    Orange
Name: Fruits, dtype: object

In [5]:
#dataFrame

data={'Fruits' : ['Mango', 'Banana', 'Orange', 'Apple'],
      'Quantity': [40,20,30,10],
      'Price': [400,500,600,100]}

df=pd.DataFrame(data)

df

   Fruits  Quantity  Price
0   Mango        40    400
1  Banana        20    500
2  Orange        30    600
3   Apple        10    100

In [7]:
df.head()

   Fruits  Quantity  Price
0   Mango        40    400
1  Banana        20    500
2  Orange        30    600
3   Apple        10    100

In [8]:
df.tail()

   Fruits  Quantity  Price
0   Mango        40    400
1  Banana        20    500
2  Orange        30    600
3   Apple        10    100

In [10]:
df.shape

(4, 3)

In [11]:
df.describe()

        Quantity      Price
count   4.000000    4.00000
mean   25.000000  400.00000
std    12.909944  216.02469
min    10.000000  100.00000
25%    17.500000  325.00000
50%    25.000000  450.00000
75%    32.500000  525.00000
max    40.000000  600.00000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Fruits    4 non-null      object
 1   Quantity  4 non-null      int64
 2   Price     4 non-null      int64
dtypes: int64(2), object(1)
memory usage: 228.0+ bytes

In [13]:
df.dtypes

Fruits      object
Quantity     int64
Price        int64
dtype: object

**Viewing and Selecting data**

In [14]:
df[['Fruits', 'Quantity', 'Price']]

   Fruits  Quantity  Price
0   Mango        40    400
1  Banana        20    500
2  Orange        30    600
3   Apple        10    100

In [15]:
#loc

df.loc[[0,1],['Fruits', 'Quantity']]      #loc = row

   Fruits  Quantity
0   Mango        40
1  Banana        20

In [19]:
#iloc

df.iloc[0,0]     #iloc = indexing

'Mango'

**TypeCasting**

In [20]:
df['Price']=df['Price'].astype('float')

df['Price'].dtype

dtype('float64')

In [21]:
df.dtypes

Fruits       object
Quantity      int64
Price       float64
dtype: object

**Sorting**

In [22]:
df.sort_values(by='Price')

   Fruits  Quantity  Price
3   Apple        10  100.0
0   Mango        40  400.0
1  Banana        20  500.0
2  Orange        30  600.0

In [23]:
df.sort_index(ascending=False)    #decending indexing

   Fruits  Quantity  Price
3   Apple        10  100.0
2  Orange        30  600.0
1  Banana        20  500.0
0   Mango        40  400.0

In [24]:
#rename

df.rename(columns={'Fruits':'Fruit'}, inplace=True)   #inplace= dataframe e change hbe

df

    Fruit  Quantity  Price
0   Mango        40  400.0
1  Banana        20  500.0
2  Orange        30  600.0
3   Apple        10  100.0

In [25]:
df1=df.drop(columns=['Quantity'])    #drop column Quantity

df1

    Fruit  Price
0   Mango  400.0
1  Banana  500.0
2  Orange  600.0
3   Apple  100.0

In [27]:
df2=df.drop([3], axis=0)    #drop row

df2

    Fruit  Quantity  Price
0   Mango        40  400.0
1  Banana        20  500.0
2  Orange        30  600.0

**Combining two Dataset**

In [28]:
df1= pd.DataFrame({'Fruits' : ['Mango', 'Banana', 'Orange', 'Apple','grape'],
      'Quantity': [60,40,75,100,65]})

df1

   Fruits  Quantity
0   Mango        60
1  Banana        40
2  Orange        75
3   Apple       100
4   grape        65

In [29]:
df2= pd.DataFrame({'Fruits' : ['Apple', 'Orange', 'Papaya', 'Pinaple','Mango'],
      'Price': [120,60,30,70,50]})

df2

    Fruits  Price
0    Apple    120
1   Orange     60
2   Papaya     30
3  Pinaple     70
4    Mango     50

In [30]:
df3= pd.merge(df1,df2, how= 'left', on= 'Fruits')

df3

   Fruits  Quantity  Price
0   Mango        60   50.0
1  Banana        40    NaN
2  Orange        75   60.0
3   Apple       100  120.0
4   grape        65    NaN

In [31]:
df4= pd.merge(df1,df2, how= 'inner', on= 'Fruits')

df4

   Fruits  Quantity  Price
0   Mango        60     50
1  Orange        75     60
2   Apple       100    120

In [32]:
df5= pd.merge(df1,df2, how= 'outer', on= 'Fruits')

df5

    Fruits  Quantity  Price
0    Apple     100.0  120.0
1   Banana      40.0    NaN
2    Mango      60.0   50.0
3   Orange      75.0   60.0
4   Papaya       NaN   30.0
5  Pinaple       NaN   70.0
6    grape      65.0    NaN

In [33]:
df6= pd.merge(df1,df2, how= 'right', on= 'Fruits')

df6

    Fruits  Quantity  Price
0    Apple     100.0    120
1   Orange      75.0     60
2   Papaya       NaN     30
3  Pinaple       NaN     70
4    Mango      60.0     50

**Concat**

In [34]:
df3=pd.concat([df1,df2], axis=0, ignore_index=True)

df3

    Fruits  Quantity  Price
0    Mango      60.0    NaN
1   Banana      40.0    NaN
2   Orange      75.0    NaN
3    Apple     100.0    NaN
4    grape      65.0    NaN
5    Apple       NaN  120.0
6   Orange       NaN   60.0
7   Papaya       NaN   30.0
8  Pinaple       NaN   70.0
9    Mango       NaN   50.0

In [35]:
data= {'Discount' : [6,7,8,9,10,11,12]}

discount= pd.DataFrame(data)
discount


pd.concat([df3,discount], axis=1)

    Fruits  Quantity  Price  Discount
0    Mango      60.0    NaN       6.0
1   Banana      40.0    NaN       7.0
2   Orange      75.0    NaN       8.0
3    Apple     100.0    NaN       9.0
4    grape      65.0    NaN      10.0
5    Apple       NaN  120.0      11.0
6   Orange       NaN   60.0      12.0
7   Papaya       NaN   30.0       NaN
8  Pinaple       NaN   70.0       NaN
9    Mango       NaN   50.0       NaN