# Missing Value

In [ ]:
import pandas as pd
import numpy as np

In [2]:
data= {
    'Name':['John','Anna','Mike','Sara','Tom'],
    'Age':[28,np.nan,35,29,np.nan],
    'Salary':[5000,6000,np.nan,7000,8000],
}

df=pd.DataFrame(data)

df

   Name   Age  Salary
0  John  28.0  5000.0
1  Anna   NaN  6000.0
2  Mike  35.0     NaN
3  Sara  29.0  7000.0
4   Tom   NaN  8000.0

In [3]:
df.isnull().sum()

Name      0
Age       2
Salary    1
dtype: int64

In [4]:
#drop

df_drop=df.dropna()

df_drop

   Name   Age  Salary
0  John  28.0  5000.0
3  Sara  29.0  7000.0

In [5]:
df_stat= df.copy()

df_stat['Age'].fillna(df_stat['Age'].mean())

df_stat

   Name   Age  Salary
0  John  28.0  5000.0
1  Anna   NaN  6000.0
2  Mike  35.0     NaN
3  Sara  29.0  7000.0
4   Tom   NaN  8000.0

In [7]:
df_stat['Salary'].fillna(df_stat['Salary'].median())

df_stat

   Name   Age  Salary
0  John  28.0  5000.0
1  Anna   NaN  6000.0
2  Mike  35.0     NaN
3  Sara  29.0  7000.0
4   Tom   NaN  8000.0

# Duplicate Handling

In [8]:
data= {
    'Name':['John','Anna','Mike','Sara','John'],
    'Age':[28,22,35,29,28],
    'City': ['Dhaka', 'Chittagong', 'Dhaka', 'Khulna', 'Dhaka']
}

df=pd.DataFrame(data)

df

   Name  Age        City
0  John   28       Dhaka
1  Anna   22  Chittagong
2  Mike   35       Dhaka
3  Sara   29      Khulna
4  John   28       Dhaka

In [9]:
#check duplicate
df.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [10]:
#rmv duplicate
df_dup= df.drop_duplicates()

df_dup

   Name  Age        City
0  John   28       Dhaka
1  Anna   22  Chittagong
2  Mike   35       Dhaka
3  Sara   29      Khulna

# Pivot table

In [11]:
data= {
    'Name': ['Riya', 'Alex', 'Toma', 'Karim', 'Nila'],
    'Department': ['CSE', 'CSE', 'EEE', 'EEE', 'CSE'],
    'Gender': ['F', 'M', 'F', 'M', 'F'],
    'Marks': [85,75,80,70,90]
}

df=pd.DataFrame(data)

df

    Name Department Gender  Marks
0   Riya        CSE      F     85
1   Alex        CSE      M     75
2   Toma        EEE      F     80
3  Karim        EEE      M     70
4   Nila        CSE      F     90

In [12]:
pivot=df.pivot_table(values='Marks',
                     index='Department',
                     columns='Gender',
                     aggfunc='mean')

pivot

Gender         F     M
Department
CSE         87.5  75.0
EEE         80.0  70.0